In [1]:
#1.write a code to a reverse strings.
str="hello my self anant"
str

'hello my self anant'

In [2]:
str[::-1]

'tnana fles ym olleh'

In [3]:
#2.Write a code to count a number of vowels in a string.

str="hello good morning"
vowels="aeiouAEIOU"
vow_count=0
for i in str:
    if i in vowels:
        vow_count=vow_count+1
print("num of vowels in string:" , +vow_count)

num of vowels in string: 6

In [4]:
#3.write a code to check the given strings is palindrome or non palindrome.

str= "good morning"
revstr=str[::-1]
if str==revstr:
    print("palindrome")
else:
    print("non palindrome")

non palindrome

In [5]:


str= "madam"
revstr=str[::-1]
if str==revstr:
    print("palindrome")
else:
    print("non palindrome")

palindrome

In [6]:
#4.write a code to check if two given strings are anagrams of each other.

str1="hello"
str2="world"
a=sorted(str1)
b=sorted(str2)
if a==b:
    print("anagrams")
else:
    print("not anagrams")

not anagrams

In [7]:


str1="cat"
str2="act"
a=sorted(str1)
b=sorted(str2)
if a==b:
    print("anagrams")
else:
    print("not anagrams")

anagrams

In [8]:
#5.write a code to find all occurences of a given substrings with another strings.
str="hello wellcome to pwskills"
substrings="o"
find=str.count(substrings)
print(find)

3

In [9]:
#6.Write a code to perform basic string compression using the counts of repeated characters.
str="aaaaeeeeeiiiijdocdsnjdncjdn"
char_count={}
for char in str:
    if char in char_count:
        char_count[char]+=1
    else:
        char_count[char]=1
print(char_count)

{'a': 4, 'e': 5, 'i': 4, 'j': 3, 'd': 4, 'o': 1, 'c': 2, 's': 1, 'n': 3}

In [10]:
#7.write a code to determine if a string has all unique charaeters.

def uique_char(string):
    
    for char in string:
        if string.count(char)>1:
            return False
        return True

In [11]:
 uique_char("pw skills ")

True

In [12]:
#8.here it is not a unique char.i is a duplicate char.
uique_char("pw pw pw")

False

In [13]:
#9.write a code to conver the string to uppercase and lowercase.
str="hi ,wellcome to pw skills"
str.upper()

'HI ,WELLCOME TO PW SKILLS'

In [14]:
str1="HI ,WELLCOME TO PW SKILLS"
str1.lower()

'hi ,wellcome to pw skills'

In [15]:
#10.write a code to count the number of words in a strings.
str2="hello, wellcome to pw skills"
len(str2)

28

In [16]:
str9="pw"
str8="skills"
conca="".join([str9,str8])
print(conca)

pwskills

In [17]:
#11.write a code to Remove All Occurrences of a Specific Element from a List in Python
lis=[1,12,54,10,16,70,10,25,10,54,10]
lis

[1, 12, 54, 10, 16, 70, 10, 25, 10, 54, 10]

In [18]:
lis=[num for num in lis if num!=10]
print(lis)

[1, 12, 54, 16, 70, 25, 54]

In [19]:
#12.implement a code to find the second largest number in given list of integers.
#first we will sort the integers into ascending order and then we will get the second highest number with the help of indexing.
num=[10,20,35,39,84,67,14,82,98,63]
num.sort()

In [20]:
num

[10, 14, 20, 35, 39, 63, 67, 82, 84, 98]

In [21]:
num[-2]

84

In [22]:
#13.create a code to count the occurences of each elements in a list and return a dictionay with elements as key and their count as values.
my_list=[12,24,51,24,36,25,51,42,51,36,12]
diction={}
for element in my_list:
    if element in diction:
        diction[element]+=1
    else:
        diction[element]=1
print(diction)

{12: 2, 24: 2, 51: 3, 36: 2, 25: 1, 42: 1}

In [23]:
#14.write a code to reverse a list in place without using any built-in reverse function.
my_list=[12,24,51,24,36,25,51,42,51,36,12]
rev=my_list[::-1]
print("before reverse:",my_list)
print("after reverse:", rev)

before reverse: [12, 24, 51, 24, 36, 25, 51, 42, 51, 36, 12]
after reverse: [12, 36, 51, 42, 51, 25, 36, 24, 51, 24, 12]

In [24]:
#15.implement a code to find and remove duplicates from a list while preserving th original order of element.
lis = [10, 10, 20, 30, 33, 2, 55, 32, 55, 22, 45, 78, 98]
after_removing= []
seen = set()
for element in lis:
    if element not in seen:
        seen.add(element)
        after_removing.append(element)

print(after_removing)

[10, 20, 30, 33, 2, 55, 32, 22, 45, 78, 98]

In [25]:
#16.create a code to check if given list is sorted (either in ascending or descending order) or not.
list1=[3,5,7,2,53,21]
chck=list1[:]
list1.sort()
if list1==chck:
    print("sorted in asscending")
else:
    print("not sorted")

not sorted

In [26]:
#sorted
list1=[3,5,7,10,13,14,18]
chck=list1[:]
list1.sort()
if list1==chck:
    print("sorted in asscending")
else:
    print("not sorted")

sorted in asscending

In [27]:
#17.write a code to merge two sorted list into a singl sorted list.


lis1=[10,25,45,85,32,52]
lis2=[19,35,64,82,56,24]
lis1.sort()
lis2.sort()
lis3=lis1+lis2
lis3.sort
print(lis3)

[10, 25, 32, 45, 52, 85, 19, 24, 35, 56, 64, 82]

In [28]:
#18.implement code to find the intersection of two given list.
list1=[25,84,56,36,24]
list2=[35,25,51,84,36,]
intersection_list=[]
for i in list1:
    if i in list2:
        intersection_list.append(i)
print(intersection_list)

[25, 84, 36]

In [29]:
#19.crreate a code to find the union of two list.
list=[1,2,3,4,5,6,7]
list1=[5,6,7,8,9]
union_list=[]

for i in list:
    if(i  not in list1):
        union_list.append(i)
print(union_list)

[1, 2, 3, 4]

In [30]:
#20.write a code to shuffle list in random without ussing any in built shuffle function.
import random
list3=['rohit','virat','ishan','rahul','maxi']
random.shuffle(list3)
print(list3)

['ishan', 'maxi', 'rohit', 'virat', 'rahul']

In [31]:
#21.write a code that take two tuples as input and returns a new tuples containing elements that are common to both inputs tuples.
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
common_elements = tuple(set(tuple1).intersection(set(tuple2)))
print(common_elements)

(3, 4, 5)

In [32]:
#22.create a code that prompts the user to enter two sets of integers separated by commas. then print th intersection of these two sets.

In [33]:
a={2,4,6,8,3}
b={4,6,9,5,2}
intersection = a & b
print(intersection)

{2, 4, 6}

In [34]:
#23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
tuple1 = (0,5,6,7,3)
tuple2=(2,6,5,6,2)




concatenate_tuples=tuple1+tuple2

In [35]:
concatenate_tuples

(0, 5, 6, 7, 3, 2, 6, 5, 6, 2)

In [36]:
#24.develope a code that prompts the user to input two sets of strings then print element that are present in the first set but not in the second set.
s1={"mango","apple","banana","pineapple"}
s2={"guava","apple","banana","pomgranade"}
not_in_s2=(s1-s2)
print(not_in_s2)

{'pineapple', 'mango'}

In [37]:
#25.create a code that takes a tupple and two integers as input . the function should return a new tuple containing elements from the original tuple with in specified range of indices.
tup=("39","61")
new_tup=tup[::]
print(new_tup)

('39', '61')

In [38]:
#26. write a code that prompts the user to input two sets of characters. then , print the union of these two sets.

aw={"l","j","e","q","d"}
aq={"o","q","l","b","s"}
union=aw|aq
print(union)

{'d', 'q', 'o', 's', 'b', 'j', 'e', 'l'}

In [39]:
#27.develop  a code that takes a tuple of integers as input . the fuction should return the maximum and miimum values from the tuple usinng tuple unpackig.

a=(124,185,64,168,81)
min(a)

64

In [40]:
max(a)

185

In [41]:
#28.CREATE A CODE THAT DEFINES TOW SETS OF INTEGERS.THEN,PRINT THE UNION , INTERSECTION, AND DIFFERENCE OF THESE TWO SETS
int_set={22,55,11,44,63}
nt_set={22,69,63,46,83}
union=int_set|nt_set
print(union)

{69, 11, 44, 46, 83, 22, 55, 63}

In [42]:
intersection=int_set&nt_set
print(intersection)

{22, 63}

In [43]:
differnece=int_set-nt_set
print(differnece)

{11, 44, 55}

In [44]:
differnece=nt_set-int_set
print(differnece)

{83, 69, 46}

In [45]:
#29.write a code that takes a tuple and an element as input.the function should return the count of occurences of the given element in the tupple



tup=(22,54,71,25,12,53,12,63)
ele=12
count_elem=tup.count(ele)
print(count_elem)

2

In [46]:
#30.develope a code that prompts the user to input two sets of string .then print the symmetric diffrence of these two sets.
a={"21","43","95","24"}
b={"24","95","36","82"}

dif1=a-b
dif2=b-a
print(dif1)
print(dif2)

{'21', '43'}
{'82', '36'}

In [47]:
#31.write a code that takes a  and list of words as input and returns a dictionary where the keys are unique words the values are the frequencies of those words in the input list

sub_marks=[('Physics',89),('Bio',82),('chem',95)]
d=dict(sub_marks)
print (d)

{'Physics': 89, 'Bio': 82, 'chem': 95}

In [48]:
#32.write a code to merge two dictionaries as input and merges them into asingle dictionaries.if there are common keys , the values should be added together
d={'Physics': 89, 'Bio': 82, 'chem': 95}
b={'comp':91, 'eng':95 , 'math':86}
d.update(b)

In [49]:
d

{'Physics': 89, 'Bio': 82, 'chem': 95, 'comp': 91, 'eng': 95, 'math': 86}

In [50]:
#34.write a cdoe that takes a dictonriies as input and returns a sorted versio of it based on th value . you can choose whether to sort in ascending and decending order
d={'Physics': 89, 'Bio': 82, 'Chem': 95}
sorted_dict = dict(sorted(d.items()))

In [51]:
sorted_dict

{'Bio': 82, 'Chem': 95, 'Physics': 89}

In [52]:
sorted_dict1 = dict(sorted(d.items(), reverse=True))
print(sorted_dict1)

{'Physics': 89, 'Chem': 95, 'Bio': 82}

In [53]:
#33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value. If any of the keys do not exist in the dictionary the function should return None

In [54]:
#35.write a code that inverts a dictionaries, swapping key and values .ensure that the inverted dictionaries correctly handles cases where multiple keys have the same value by storing the keys as a list int he inverted  dictionaries



dict1 = {'cricekt': 'outdoor', 'football': 'outdoor', 'chess': 'indoor', 'badminton':'outdoor','ludo':'indoor'}
dict2={}
for i in dict1:
    dict2.setdefault(dict1[i], []).append(i)
print(dict2)

{'outdoor': ['cricekt', 'football', 'badminton'], 'indoor': ['chess', 'ludo']}